.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  row-gap: 20px;
  align-items: flex-start;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.header {
  grid-column: 1/13;
  grid-row: 1/2;
  position: sticky;
  top: 0;
  background-color: #61dafb;
}

.footer {
  grid-column: 1/13;
  grid-row: 12/13;
  background-color: yellow;
}
